.signup-container {
  display: flex;
  height: 100vh;
}

.banner {
  flex: 1;
  background: url('../../assets/images/signup-banner.jpg') no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 280px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo:hover {
  background-color: transparent;
}

.banner h2 {
  font-size: 2.5rem;
  margin: 0;
}

.signup-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  width: 80%;
}

.signup-box h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
}

.signup-box form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  width: 80%;
}

.signup-box label {
  text-align: right;
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 1rem;
  align-self: center;
}

.signup-box input,
.signup-box select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.signup-box input.error,
.signup-box select.error {
  border-color: red;
}

.signup-box .error-text {
  color: red;
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.signup-box button {
  grid-column: span 2;
  padding: 12px;
  background-color: rgb(15, 188, 104);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 1rem;
}

.signup-box button:hover {
  background-color: rgb(12, 162, 89);
}

.had-account {
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
}

.had-account a {
  color: rgb(15, 188, 104);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.had-account a:hover {
  text-decoration: underline;
}

.custom-success-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.custom-success {
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-success-message {
  font-size: 16px;
  margin-bottom: 20px;
}

.custom-success-button {
  font-size: 14px;
  padding: 8px 16px;
  margin: 0 10px;
  cursor: pointer;
  background-color: rgb(15, 188, 104);
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.custom-success-button:hover {
  background-color: rgb(13, 163, 90);
}