.booking-success {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

.booking-success h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.booking-details {
    text-align: left;
    margin-top: 20px;
}

.booking-details p {
    margin-bottom: 10px;
}

.booking-details strong {
    font-weight: bold;
}