.choose-store {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.choose-store h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.store-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.store-card {
    width: calc(33.33% - 30px);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
}

.store-card img {
    width: 360px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -10px;
}

.store-card h3 {
    margin: 10px 0;
    color: #000;
}

.store-card p {
    margin: 5px 0;
    color: #000;
}

.store-card a {
    text-decoration: none;
}

.store-card a:hover {
    text-decoration: none;
}

.store-info {
    font-weight: normal;
    margin-bottom: 5px;
}