.payment {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

.payment h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.booking-details {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10px;
}

.booking-details p {
    margin-bottom: 10px;
}

.hour-selection {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 50px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 49%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:first-child {
    background-color: #4caf50;
    color: white;
}

button:first-child:hover {
    background-color: #45a049;
}

button:last-child {
    background-color: #007bff;
    color: white;
}

button:last-child:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #28a745;
}