.single-booking {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px auto;
    max-width: 1200px;
    width: 100%;
}

.single-booking h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%;
    max-width: 95%;
    border-collapse: collapse;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

th,
td {
    border: 2px solid #ffffff;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
}

.available {
    background-color: #e0ffe0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booked {
    background-color: #ffe0e0;
}

.available:hover {
    background-color: #d0f0d0;
}

.selected {
    background-color: #d0f0d0;
}

.available a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.available a:hover {
    color: #28a745;
    text-decoration: none;
}